@import url(http://fonts.googleapis.com/css?family=Open+Sans:700|Pacifico);

	body {
		/*background-image:url('../images/fondEcran.png');
		background-repeat:no-repeat;*/
		background-attachment:fixed;
		background-size:cover;		
		background: url(../images/bg-tile-repeating.jpg) 0 0 repeat;
	}
	
	/* unvisited link */
	a:link {
		color: black;
		text-decoration:none
	}
	
	
	
	#TexteMenuSuperieur {		
		margin-top:5px;
		height: 80px;
		width:100%;
		box-sizing:border-box;		
		border:2px solid #A1A1A1;
		border-radius:0px;
		/*background: url("../images/titreTexte.png") 0 0 no-repeat;*/
		background:#F9FBF1;
	}
	
	header {
		display: relat
		position:fixed;			
		top: -4.7px;		
		width:100%;		
		text-align:center;	
		z-index:9000;		
	}	
		
	#logoSite  {
		position: absolute;
		background: url('../images/textures//logoSite.png') 0 0 no-repeat;		
		position: absolute;		
		width: 125px;
		height: 114px;	
	}
	
	div {		
		padding:1em;
		border-width:1px;
		box-sizing:border-box;			
		overflow-wrap: break-word;			
	}

	#MenuSuperieur {	
		box-sizing:border-box;
        background:grey; 
		width:100%;
	}

	#MenuSuperieur ul {
		margin: -15px;
		float:right;
		display:inline-block; 
		padding-right:20px;
	}
	
	#formulaire{
		text-align: center;
   	 	margin-right: auto;
    	margin-left: auto;
    	width: 100%;
	}

	#mainIcon{
		/*style="width:10px;
		style=height:10px;	*/
    	width:100px;
  		height:auto;
  		position: center;
	}
	
		

	#imgHeader{
		/*style="width:10px;
		style=height:10px;	*/
    	width :20px;
  		height:auto;
  		position: center;
	}
	#mainView  {
		position: center;
		border="";
		text-align: center;
		width: 100%;		
	}

	#mainDeplacementPasAPas  {
		position: center;
		border="";
		text-align: center;
		width: 100%;		
	}
	

	/* Affiche sur une ligne*/	
	#MenuSuperieur li {
		display: inline-block;						
		/*height:10px;
		width:140px;
		font-family: 'Pacifico', cursive;
		font-size:16pt;*/
		text-align:center;
	}

	#iconDeplacement{		
    	width:100px;
  		height:auto;
  		position: center;
	}
	

	
	/* contenu du site*/	
	#content {
		margin-top :31px;		
		box-sizing:border-box;
		width: 100%;
	}
	
	section{		
		/*border: 1px solid blue;
		border-radius:25px;*/		
		box-sizing:border-box;		
		
	}	
	
	div{
		box-shadow : 0 0 5px black;
		-webkit-box-shadow : 0 0 5px black;
		-moz-box-shadow : 0 0 5px black;
		 box-sizing:border-box;					 
	}
	
	
	h1, h2 {
		color:green;
		font-style:italic;
		/*font-family: 'Pacifico', cursive;	*/	
		margin-top:0;
	}
	
	h1 {	
		text-align:center;
		padding: 1em 0;
		margin-left: 1.5em;
		font-size: 2.5em;	
	}	
	
	h1 span {
		display:block;
		margin: 0.75em 0 0 -2em;
		line-height: 1em;
		font-size: 0.55em;
	}
	h1 .cursive {
		margin: 0 0 0 -3em;
		font-size: 1.1em;
		line-height:0.5em;
		color: #bd9b83;
	}
		
	dl {
		font-family:Fontdiner Swanky
	}
	
	p {
		text-align:center;		
	}

	#ImageXML{
		padding:5px; 
		margin:15px;
		border:5px solid #ccc;
		height:400px;		
	}
	

	/*DEbut de la gestion d'image */
	/**********************************/
	
.clear{ 
	clear:both;
	}
.photo-link	{ 
	padding:5px; 
	margin:15px;
	border:5px solid #ccc;		
	display:block;
	float:left;
	}
	
	
	@viewport {
		width:device-width;
		zoom:1;
	}
	
	/* pour mobile*/
	@media (max-width:1024px){
		body {
			width:auto;
			/*background-color : red;*/
		}
		div {		
			padding:1em;
			border-width:1px;
			box-sizing:border-box;			
			overflow-wrap: break-word;			
		}
		
		header {
			position:relative;
		}
		
		h1 {	
			text-align:left;			
			font-size: 2.5em;	
		}
		#content {
			margin-top: 1%;
		}
		/* Affiche sur une ligne*/	
		#MenuSuperieur li{
			display: inline-block;		
			opacity:0.8;
			word-wrap:none;					
			height:30px;
			background:grey;	
			font-size:16pt;		
			border-radius:3px;
			
		}
							
		#catchPhrase {
			height: 80px;
			width:100%;
			background: url("../images/titreTexte.png") 0 0 no-repeat;
			background-position:center;
		}
		
		
		
		*{		
			-webkit-box-sizing : border-box;
			-moz-box-sizing :border-box;	
			box-sizing :border-box;
			}
			
			img,table,td,blockquote,code,pre,textarea,input,video {
				max-width:100%;
			}
			
			div,textarea ,table,td,th,code,pre,samp{
				word-wrap: break-word;
				-webkit-hyphens : auto;
				-moz-hyphens : auto;
				-ms-hyphens : auto;
				-o-hyphens : auto;
				hyphens : auto;			
			}		
			
		img {			
			height:auto;
			vertical-align:middle;
		}
	}
	
	
	
	